@page
@using System.Linq
@using TimeManager.Model
@model ControllingPageModel
@{ ViewData["Title"] = "Controlling"; }

<h1>Controlling</h1>

<a class="btn" href="#holidaylist">Ferienliste</a>
<a class="btn" href="#overtimecontrol">Überzeitkontrolle</a>

<h4>Abwesenheiten</h4>
<div class="table-container">
  <table>
    <tr>
      <th>Name</th>
      <th>Von</th>
      <th>Bis</th>
      <th>Grund</th>
      <th>Ist I.O.</th>
    </tr>
    @{
      List<ControllingModel> absences;
      using (var db = new DatabaseContext()){
        absences = (from a in db.Absence join u in db.User on a.IdUser 
        equals u.ID
        where a.Approved == false
        select new ControllingModel() {
          IdUser = u.ID,
          IdAbsence = a.ID,
          Name = u.Username,
          AbsentFrom = a.AbsentFrom,
          AbsentTo = a.AbsentTo,
          Reason = a.Reason,
          Approved = a.Approved
        }).ToList();
      }
      foreach(var item in absences) 
      {
        <tr>
          <td>@item.Name</td>
          <td>@item.AbsentFrom</td>
          <td>@item.AbsentTo</td>
          <td>@item.Reason</td>
          <td>
            <label>
              @if(item.Approved)
              {
                <input name="isIO" data-id-absence="@item.IdAbsence" type="checkbox" class="filled-in" checked />
              } else 
              {
                <input name="isIO" data-id-absence="@item.IdAbsence" type="checkbox" class="filled-in" />
              }
              <span></span>
            </label>
          </td>
        </tr>
      }
    }
  </table>
</div>