@page
@model OwnTimesPageModel
@{ ViewData["Title"] = "Eigene Zeiten"; }
<script>
  writeOwnTimesTables('true', '@User.FindFirst(ClaimTypes.NameIdentifier).Value');
</script>
<div id="OwnTimes">
  <h1>Eigene Zeiten</h1>

  <a class="btn modal-trigger" href="#absenceWindow">Neue Abwesenheit</a>
  <a class="btn modal-trigger" href="#overtimeWindow">Neue Überzeit</a>
  @{
    if (User.IsInRole("Advanced") || User.IsInRole("High"))
    {
      <select id="userDropdown" class="right browser-default btn" style="width: fit-content;">
        @{
          using (var db = new DatabaseContext())
          {
            var userList = (from u in db.User select u).ToList();
            foreach (var item in userList)
            {
              if (item.ID.ToString() == @User.FindFirst(ClaimTypes.NameIdentifier).Value)
              {
                <option selected value="@item.ID">@item.Username</option>
              } else
              {
                <option value="@item.ID">@item.Username</option>
              }
            }
          }
        }
      </select>
    }
  }
  <label class="right">
    <input id="filter" type="checkbox" class="filled-in" checked />
    <span style="padding-right: 1em;">Letze 30 Tage</span>
  </label>

  <!-- AbsenceWindow -->
  <partial name="/Pages/OwnTimes/_AbsencePartial.cshtml" />
  <!-- OvertimeWindow -->
  <partial name="/Pages/OwnTimes/_OvertimePartial.cshtml" />

  <!-- AbsenceGrid -->
  <h4>Abwesenheiten</h4>
  <div class="table-container responsive-table">
    <table>
      <thead>
        <tr>
          <th>Von</th>
          <th>Bis</th>
          <th>Grund</th>
          <th>Ist I.O.</th>
          <th>Bearbeiten</th>
        </tr>
      </thead>
      <tbody style="--height: 15vh">
        <!-- JS replaces this tbody -->
      </tbody>
    </table>
  </div>
  <!-- OvertimeGrid -->
  <h4>Überzeiten</h4>
  <div class="table-container responsive-table">
    <table>
      <thead>
        <tr>
          <th>Datum</th>
          <th>Kunde</th>
          <th>Std.</th>
          <th>Zuschlag</th>
          <th>Bearbeiten</th>
        </tr>
      </thead>
      <tbody style="--height: 15vh">
        <!-- JS replaces this tbody -->
      </tbody>
    </table>
  </div>
</div>