@page
@model UsersPageModel
@{ ViewData["Title"] = "Benutzer"; }
@{ 
  bool DeaktivatedFilter = true;

}
<script>
  document.querySelector('#userWindow form').reset();
</script>
<div id="Users">
  <h1>Benutzerverwaltung</h1>

  <a class="btn modal-trigger" href="#userWindow">Neuer Benutzer</a>

  <!-- UserWindow -->
  <partial name="/Pages/Users/_UserPartial.cshtml" />

  <!-- UsersGrid -->
  <div>
    <br />
    <h4 style="display: contents;">Benutzer</h4>
    <label class="right">
      <input class="filled-in" type="checkbox" asp-for="@DeaktivatedFilter" />
      <span>Nur aktive Benutzer</span>
    </label>
  </div>
  <div class="table-container responsive-table">
    <table>
      <thead>
        <tr>
          <th>Benutzername</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Abteilung</th>
          <th>Bearbeiten</th>
        </tr>
      </thead>
      <tbody>
        @{
          List<Model.UserModel> users;
          using (var db = new DatabaseContext())
          {
            users = (from u in db.User
                     where u.Deactivated == false
                     select u).ToList();
          }
          foreach (var item in users)
          {
            <tr>
              <td>@item.Username</td>
              <td>@item.Firstname</td>
              <td>@item.Lastname</td>
              <td>@item.Department</td>
              <td>
                <button type="button" class="btn-small" onclick="userEdit('@item.ID')">
                  <i class="material-icons">edit</i>
                </button>
                <button type="button" class="btn-small" onclick="userDelete('@item.ID')">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>